@model MVC_TM.Models.ViewModels.ReviewViewModel
@using Microsoft.Extensions.Options
@using MVC_TM.Infrastructure
@inject IOptions<AppSettings> _appsettings

@{
    ViewBag.Canonical = @String.Format("https://www.tripmasters.com/review");
    var rws = ViewBag.reviews;
    var pgTtl = rws ? "Reviews from our customers" : "Customer Reviews";
}

@section Styles {
    <environment include="Development">
        <link href="~/css/review_m/mb.style.reviews.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/review_m/mb.style.reviews.min.css" asp-append-version="true" />
    </environment>

    <style>
    </style>
}


<div class="pageTitle">@pgTtl</div>
<div style="position:relative;margin:0 0 0 12px;padding:0 0 30px 0;">
    @{
        Int32 total = 0;
        Decimal overAllAvg = 0;
        Decimal defw = 120;
        Decimal w = 0;
        if (Model.scores.Count > 0)
        {
            total = Model.scores.Where(x => x.Name == "Total").First().Id;
            overAllAvg = Model.scores.Where(x => x.Name != "Total").Sum(x => Decimal.Parse(x.Name) * x.Id) / total;
            overAllAvg = Decimal.Round(overAllAvg, 1);
            w = Decimal.Round((overAllAvg * defw) / 5, 1);
        }
    }
    <div class="emptyStars" style=@String.Format("width:{0}px;", defw)></div>
    <div class="fullStars" style=@String.Format("width:{0}px;", w)></div>
    <div style="float:left;position:absolute;left:130px;width:150px;top:5px;font-weight:bold;font-size:14px">@total.ToString("#,##0") Reviews</div>
    <div style="padding-bottom:2px!important; position: absolute; bottom: -15px; left: 5px;">@overAllAvg out of 5 stars</div>
    <div style="clear:both;"></div>
</div>
@if (!rws) {
    <div style="padding: 20px 0 20px 18px;">
        @for (Int32 i = 5; i >= 1; i--)
        {
            Int32 currentVal = 0;
            string current = "";
            Decimal perCent = 0;
            if (Model.scores.Count > 0)
            {
                current = i.ToString();
                if (Model.scores.Where(x => x.Name == current).ToList().Count > 0)
                {
                    currentVal = Model.scores.Where(x => x.Name == current).First().Id;
                    w = Decimal.Round((currentVal * defw) / total);
                    perCent = Decimal.Round((currentVal * 100) / total);
                }
                else
                {
                    currentVal = 0;
                    w = 0;
                    perCent = 0;
                }
            }
            <div class="dvfilter" id="@i">
                @{
                    string stars = "star";
                    if (i > 1)
                    {
                        stars = "stars";
                    }
                    string percentDisplay = "block";
                    if (perCent < 1)
                    {
                        percentDisplay = "none";
                    }
                }
                <div class="starNum">@i @stars </div>
                <div class="emptyBar" style=@String.Format("width:{0}px;", defw)></div>
                <div class="fullBar" style=@String.Format("width:{0}px;display:{1}", w, percentDisplay)></div>
                <div class="perCent" style="padding-bottom:2px!important;">@perCent% </div>
                <div style="clear:both;"></div>
            </div>
        }
    </div>
}
<div class="@(!rws ? "row mx-auto" : "")" style="@(!rws ? "background: #dfe4f7;" : "background: #dfe4f7;padding-top: 20px;margin-top: 20px;")">
    @if (!rws) {
        <div class="col-12 pt-4 text-center text-dark font-weight-bold" style="font-size: 14px;">Share your thoughts with other travelers</div>
    }
    <div class="col-12 pt-1 pb-4 text-center mx-auto">
        <a href="https://www.tripmasters.com/checkbookingforreview" role="button" class="btn btn-warning text-center" style="border-radius: 20px;font-size: 14px;">Write a Review</a>
    </div>
</div>
<div id="dvReviews" style="background-color:white;"></div>
<input type="hidden" id="reviewTotal" value="" />


@section Scripts
{
    <environment include="Development">
        @if (!rws)
        {
            <script src="~/js/review_m/mb.java.review.js" asp-append-version="true"></script>
        }
        else
        {
            <script src="~/js/reviews_m/mb.java.reviews.js" asp-append-version="true"></script>
        }

    </environment>
    <environment exclude="Development">
        @if (!rws)
        {
            <script src="~/js/review_m/mb.java.review.min.js" asp-append-version="true"></script>
        }
        else
        {
            <script src="~/js/reviews_m/mb.java.reviews.min.js" asp-append-version="true"></script>
        }
    </environment>
}
