@model MVC_TM.Models.ViewModels.HomeViewModel
@using Microsoft.Extensions.Options
@using MVC_TM.Infrastructure
@inject IOptions<AppSettings> _appsettings

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/css/responsive_calendar/responsive_calendar.css"  asp-append-version="true"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <link rel="stylesheet" href="~/css/site_responsive/site_responsive.css" asp-append-version="true" />
        <link href="~/css/home/dm.style.tmHomePage.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/responsive_calendar/responsive_calendar.min.css"  asp-append-version="true"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        <link rel="stylesheet" href="~/css/site_responsive/site_responsive.min.css"  asp-append-version="true"/>
        <link rel="stylesheet" href="~/css/home/dm.style.tmHomePage.min.css" asp-append-version="true" />
    </environment>

}
@{ViewBag.Canonical = @String.Format("https://www.tripmasters.com/");
    <script>
            var SiteName = '@_appsettings.Value.ApplicationSettings.SiteName';
            var TMED_HotelsAPI = '@_appsettings.Value.ApplicationSettings.TMED_HotelsAPI';
            var designPage = '@ViewBag._utPg';
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    }

@{
    Int32 rev = Model.NumComments;
    Decimal overAllAvg = 0;
    Decimal defw = 120;
    Decimal w = 0;
    overAllAvg = Decimal.Round(Model.Score, 1);
    w = Decimal.Round((overAllAvg * defw) / 5, 1);

    string webServer = "";
    List<long> offerPrices = new List<long>();
    List<string> offerUrl = new List<string>();
    long lowP = 500;
    long highP = 9000;
    Int32 proID = 243;  /*UserId-europe*/
    string strOfferts = "";

    Int32 oCount = 0;
    if (Model.TMStarted.Count > 0)
    {
        foreach (var p in Model.TMStarted.Take(4))
        {
            if (p.STP_Save != 999)
            {
                offerPrices.Add((Int32)p.STP_Save);
            }

            switch (p.DeptNA)
            {
                case "ED":
                   offerUrl.Add("https://www.tripmasters.com/europe/" + p.CountryName.Replace(" ", "_").ToLower() + "/" + p.PDL_Title.Replace(" ", "_").ToLower() + "/package-" + p.PDLID);

                 break;
                case "TMAS":
                   offerUrl.Add("https://www.tripmasters.com/asia/" + p.CountryName.Replace(" ", "_").ToLower() + "/" + p.PDL_Title.Replace(" ", "_").ToLower() + "/package-" + p.PDLID);
                    break;
                case "LD":
                   offerUrl.Add("https://www.tripmasters.com/latin/" + p.CountryName.Replace(" ", "_").ToLower() + "/" + p.PDL_Title.Replace(" ", "_").ToLower() + "/package-" + p.PDLID);
                    break;
                default:
                    // code block
                    break;
            }
            strOfferts = strOfferts + "}";
            oCount = +1;
            if (oCount < Model.TMStarted.Count)
            {
                strOfferts = strOfferts + ",";
            }
        }
        if (offerPrices.Count > 0)
        {
            lowP = offerPrices.Min();
            highP = offerPrices.Max();
        }


    }
}

@section structureData{
    <script type="application/ld+json">
        [{
	          "@@context": "https://schema.org",
                "@@type": "Organization",
                "@@id" : "https://www.tripmasters.com/",
                "name": "Tripmasters",
        	    "description": "Vacation Packages",
                "url": "https://www.tripmasters.com/",
                "logo": "https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
	           "image": "https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
                "additionalType": "https://en.wikipedia.org/wiki/Travel_agency",
	          "telephone": "+18004300484",
                     "founder": {
                                "@@type": "Person",
                                "name": "Maria Checa",
                                "gender": "Female",
                                "jobTitle": "President"
                },
                "foundingDate": "October 1, 1984",
                    "foundingLocation": "Silver Spring , Maryland, United States",
         "address": {
	            "@@type": "PostalAddress",
	            "streetAddress": "8730 Georgia Ave Suite 600B",
                    "addressLocality": "Silver Spring",
	            "addressRegion": "MD",
                    "postalCode": "20910",
	            "addressCountry": "US"
	          },
               "sameAs": [
                    "https://twitter.com/tripmasters",
                    "https://www.facebook.com/Tripmasters",
                    "https://www.pinterest.com/tripmasters/",
                    "https://www.instagram.com/tripmasterstravel/",
                    "https://www.tumblr.com/privacy/consent?redirect=https%3A%2F%2Ftripmasters.tumblr.com%2F",
                    "https://www.linkedin.com/company/tripmasters",
                    "https://en.everybodywiki.com/Tripmasters",
                    "https://www.youtube.com/tripmasters"
                ]
	       },
        {
        "@@context": "https://schema.org/",
        "@@type": "Service",
            "name": "Custom Vacation Packages",
            "description": "Vacation Packages deals to Europe, Asia, and Latin America destinations. Book multi-country, multi-city custom vacation trips, selecting flights, hotels, transfers, and city tours that suit you best."
        },
        {
        "@@context": "https://schema.org/",
        "@@type": "Product",
        "name": "Vacation Packages",
        "sku":"0001",
        "mpn":"0001-vac",
        "brand": {
            "@@type":"Brand",
            "name":"Tripmasters Vacation Packages",
            "url":"https://www.tripmasters.com",
            "logo":"https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png"
        },
            "image":"https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
        "review":{
        "@@type":"Review",
        "name":"@rev",
        "author":{
        "@@type":"Organization",
        "name":"Tripmasters"
        }
        },
        "description": "Vacation Packages deals to Europe, Asia, and Latin America destinations. Book multi-country, multi-city custom vacation trips, selecting flights, hotels, transfers, and city tours that suit you best.",
        "aggregateRating": {
        "@@type": "AggregateRating",
        "ratingValue": "@overAllAvg",
        "bestRating": "5",
        "ratingCount": "@rev"
        },
        "offers": {
            "@@type": "AggregateOffer",
            "priceCurrency":"USD",
            "highPrice": "@highP",
            "lowPrice": "@lowP",
            "offerCount": "4",
            "offers" : [
        @foreach (var u in @offerUrl)
        {@Html.Raw("{")
        @Html.Raw('"' + "@type" + '"' + ":" + '"' + "Offer" + '"' + "," +
            '"' + "url" + '"' + ":" + '"' + @u + '"');
        @Html.Raw("}")
        if (u != @offerUrl.Last())
        {
            @Html.Raw(",");
        }

    }
            ]
            }
        },
    {
        "@@context": "https://schema.org",
        "@@type": "WebSite",
        "url": "https://www.tripmasters.com/",
            "potentialAction":{
        "@@type":"SearchAction",
        "target":"https://www.tripmasters.com/Search.aspx?q={search_term_string}",
        "query-input":"required name=search_term_string"
        }

            },
       {
	          "@@context": "https://schema.org",
	          "@@type": "LocalBusiness",
            "url": "https://tripmasters.com",
            "logo": "https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
            "image": "https://pictures.tripmasters.com/siteassets/d/tm_header_logo.png",
              "description": "Vacation Packages deals to Europe, Asia, and Latin America destinations. Book multi-country, multi-city custom vacation trips, selecting flights, hotels, transfers, and city tours that suit you best.",
	          "name": "Tripmasters",
              "priceRange":"699 to 99999",
	          "address": {
                    "@@type": "PostalAddress",
                    "streetAddress": "8730 Georgia Ave Suite 600B",
                    "addressLocality": "Silver Spring",
                    "addressRegion": "MD",
                    "postalCode": "20910",
                    "addressCountry": "US"
	          },
	          "geo": {
                "@@type": "GeoCoordinates",
                "latitude": 38.99811,
                "longitude": -77.03066
                  },
             "openingHours": [
                "Mo-Fr 09:00-17:00"
            ],
	          "telephone": "+1(800)430-0484"
	       }
        ]
    </script>
}

<section class="mobile-hero">
    <h1 class="mobile-hero__title"><span>Custom</span> <span>Vacation Packages</span> <span>Since 1984</span></h1>
    <h2 class="mobile-hero__subtitle"><span>Book Customizable Multi-city trips in seconds </span><span>  Curated Hotels & Services  </span></h2>
</section>
<div class="hero__background">
    <div class="calendar-review__wrapper">
        <section class="calendar">
            <h1 class="calendar__title">Vacation Packages</h1>
            <h2 class="calendar__subtitle">Custom itineraries since 1984 combining destination expertise with fast and easy booking</h2>
            <div class="calendar__header">
                <span>Build your vacation</span>
                <span>Select up to 12 destinations!</span>
            </div>
            <div>
                @await Component.InvokeAsync("UC_TM_ResponsiveCalendar")
            </div>
            <div class="calendar__advanced">
                <a href="/advanced_build_your_own_vacation"><span>Advanced</span><span>›</span></a>
            </div>
        </section>
        <section class="review">
            <div class="review__wrapper">
                <span class="review__number"><a href="https://www.tripmasters.com/review">@String.Format("{0:C0}", @Model.NumComments).Replace("$", "") Customer Reviews</a></span>
                <div class="review__stars">
                    <div class="review__stars-wrapper">
                        <div class="review__empty-stars"></div>
                        <div class="review__full-stars" style="width:@(w)px"></div>
                    </div>
                    <span class="review__rating">@overAllAvg out of 5 stars</span>
                </div>
                <a class="review__link" href="/review">LEARN MORE</a>
            </div>
        </section>
    </div>
</div>
@*highlights section*@
<section class="highlights-section first-container">
    <h2>Vacation Packages Highlights</h2>
    @{
            Int32 lgC = 0;
    }
    <div>
    <ul>
        @{
            foreach (var hg in Model.listHighlights)         
            {  
                if (lgC == 8)
                {
                    @Html.Raw("</ul>");
                    @Html.Raw("</div><div id='toHide' class='toHide' ><ul>");
                }
                <li>
                    <a href="@String.Format("{0}{1}", _appsettings.Value.ApplicationSettings.SiteName, hg.UrlPath.ToLower())">
                        <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("{0}", @hg.ImagePath) asp-append-version="true" alt="highlights"/>
                        <p>@hg.Title</p>
                    </a>
                </li>                  
                lgC += 1;
            }
         }
    </ul>
    </div>
    @if (lgC > 8) {
        <button id="btnMore" class="highlights-section__button" type="button">Show More</button>
    }
</section>
@*Ideas section*@
<section name="BestPackages" class="template-FullPackImage">
       <div class="first-container">
           <h2>Vacation Packages Ideas</h2>
           <ul class="ul-Flex">
               @foreach (var ids in Model.TMStarted)
               {
                   string pathURL = string.IsNullOrEmpty(ids.IMG_500Path_URL) ? "/siteassets/d/no-image.jpg" : ids.IMG_500Path_URL.ToLower();
                   string siteURL = "/";
                        switch (ids.DeptNA)
                        {
                            case "ED":
                                siteURL = "/europe/";
                                break;
           
                            case "TMAS":
                                siteURL = "/asia/";
                                break;
           
                            case "LD":
                                siteURL = "/latin/";
                                break;
                        }
                   <li>
                       <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@String.Format("https://pictures.tripmasters.com{0}", pathURL)" alt="@ids.PDL_Title"/>
                       <div class="wrapper">
                           <a class="image-link" href="@String.Format("{0}{1}/{2}/package-{3}", @siteURL, @ids.CountryName.Replace(' ', '_').ToLower(), @ids.PDL_Title.Replace(' ', '_').ToLower(), @ids.PDLID)">
                           <h3>@ids.PDL_Title</h3>
                            <p class="feedbackA">
                               @if (ids.STP_Save != 9999)
                               {
                                   @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", ids.STP_NumOfNights, ids.STP_Save))
                               }
                               else
                               {
                                   @Html.Raw(String.Format("{0} nights itinerary <span>&nbsp;</span>", ids.STP_NumOfNights))
                               }
                           </p>
                           </a>
                           @if (ids.NoOfFeed > 0)
                           {
                            <a class="a-white feedbackA" href=@String.Format("{0}{1}/{2}/feedback-{3}", siteURL, @ids.CountryName.Replace(' ', '_').ToLower(), ids.PDL_Title.Replace(' ', '_').ToLower(), @ids.PDLID)> @ids.NoOfFeed Customer @(ids.NoOfFeed > 1 ? "Reviews" : "Review")</a>
                           }
                           <hr class="hr1" />
                        <button class="a-white" id=@String.Format("info{0}",@ids.PDLID) data-id="@ids.PDLID|ED" onclick="otherMoreDetails('@ids.PDLID','@ids.DeptNA',1),toggleClassMoreDetails(@ids.PDLID)">View Details<span>›</span></button>
                       </div>
           
           
                       <div class="ft-modal is-hidden" id="@String.Format("fti-{0}-modal", ids.PDLID)">
                           <div class="ft-modal-content">
                               <div class="ft-modal-mob-close">
                                   <button id="@String.Format("aClose{0}",ids.PDLID)" onclick="toggleClassMoreDetails(@ids.PDLID)" type="button"><span>&#10006;</span> close</button>
                               </div>
                               <div class="ft-modal-header">
                                   <h3>@ids.PDL_Title</h3>
                               </div>
                               <div class="ft-modal-body">
                                   <p>@Html.Raw(@ids.SPD_Description)</p>
                                   <div class="divFlexModal">
                                       <div>
                                           <p>Includes:</p>
                                           <ul>
                                               @{
                                                   string[] inclIdeasList = @ids.Included.Split("\r\n");
                                                   foreach (var inc in inclIdeasList)
                                                   {
                                                       <li>@Html.Raw(@inc)</li>
                                                   }
                                               }
                                           </ul>
                                       </div>
                                       <div>
                                           <article>
                                               @if (@ids.STP_Save != 9999)
                                               {
                                                   <p>
                                                       @Html.Raw(String.Format("{0} nights from <span style='color:#f60;'>{1:C0}*</span>", ids.STP_NumOfNights, ids.STP_Save))
                                                   </p>
                                               }
                                               else
                                               {
                                                   <p>@ids.STP_NumOfNights nights from <span>@Html.Raw("&nbsp;")</span></p>
                                               }
                                               <a class="aModal" href="@String.Format("{0}{1}/{2}/package-{3}", @siteURL, @ids.CountryName.Replace(' ', '_').ToLower(), @ids.PDL_Title.Replace(' ', '_').ToLower(), @ids.PDLID)">
                                                   <span class="customBtn">Customize it</span>
                                               </a>
                                               @if (ids.NoOfFeed > 0)
                                               {
                                                <a class="aModal" href=@String.Format("{0}{1}/{2}/feedback-{3}", @siteURL, @ids.CountryName.Replace(' ', '_').ToLower(), @ids.PDL_Title.Replace(' ', '_').ToLower(), @ids.PDLID)> @ids.NoOfFeed Customer @(ids.NoOfFeed > 1 ? "Reviews" : "Review")</a>
                                               }
                                           </article>
                                       </div>
                                   </div>
                                   <div class="dvRelPack" id="@String.Format("dvRel{0}", ids.PDLID)">
                                       <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" />
                                   </div>
                                   <form name="@String.Format("frm{0}", ids.PDLID)" id="@String.Format("frm{0}", ids.PDLID)" method="post">
                                       <div class="dvMorChoice" id="@String.Format("dvCom{0}", ids.PDLID)">
                                           <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" />
                                       </div>
                                       <div class="divLast">
                                           <p onclick=@String.Format("findPacksHome('frm{0}','{1}');", ids.PDLID, siteURL)>
                                               &gt;&gt;
                                               Find similar package
                                           </p>
                                       </div>
                                       <hr class="spdotLine" />
                                       <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                       <input type="hidden" name="allID" id="Hidden1" value="" />
                                       <input type="hidden" name="allNA" id="Hidden2" value="" />
                                   </form>
           
                               </div>
                               <div class="ft-modal-footer">
                                   <button id="@String.Format("aClose{0}",ids.PDLID)" class="ft-modal-close" onclick="toggleClassMoreDetails(@ids.PDLID)"><span>&#10006;</span> Close </button>
                               </div>
                           </div>
                       </div>
           
                   </li>
               }
           </ul>
       </div>
</section>
@*Popular vacation section*@
<section class="popular first-container">
    <h2>Popular Vacation Packages</h2>
    <ul class="popular__title-list">
        <li>
            <h3><a href="/europe/" title="Europe, Middle East & Africa Destinations">Europe, Middle East & Africa Destinations ›</a></h3>
        </li>   
        <li>
            <h3><a href="/asia/" title="Asia & South Pacific Destinations">Asia & South Pacific Destinations ›</a></h3>
        </li> 
        <li>
            <h3><a href="/latin/" title="Latin America and Caribbean Destinations">Latin America and Caribbean Destinations ›</a></h3>
        </li> 
    </ul>
    <ul class="popular__list">
        @foreach (var dst in Model.TMDest)
        {
            string siteDest = "";
            string siteURL = "/";
            string siteDestSEO = "";
            switch (dst)
            {
                case "ED":
                    siteURL = "/europe/";
                    siteDest = "Europe, Middle East & Africa";
                    siteDestSEO = "Europe, Middle East & Africa";
                    break;

                case "TMAS":
                    siteURL = "/asia/";
                    siteDest = "Asia & South Pacific";
                    siteDestSEO = "Asia & South Pacific";
                    break;

                case "LD":
                    siteURL = "/latin/";
                    siteDest = "Latin America and Caribbean";
                    siteDestSEO = "Latin America and Caribbean";
                    break;
            }
        <li class="popular__item">
            <h3><a href="@siteURL" lang="en" title="@String.Format("{0} Vacation Destinations",siteDestSEO)">@siteDest Destinations ›</a></h3>
            <ul class="popular__item-list">
                @foreach (var it in Model.TMPop)
                {
                    if (it.DeptNA == dst)
                    {
                         <li>
                                <div class="popular__wrapper">
                                    <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src="@String.Format("https://pictures.tripmasters.com{0}", it.IMG_500Path_URL)" alt="@it.PDL_Title" onerror="this.src = 'https://pictures.tripmasters.com/siteassets/d/no-image.jpg'" />
                                    <div>
                                        <a href="@String.Format("{0}{1}/{2}/package-{3}", @siteURL, @it.CountryName.Replace(' ', '_').ToLower(), @it.PDL_Title.Replace(' ', '_').ToLower(), @it.PDLID)">
                                        <h3>                                      
                                                @it.PDL_Title                                       
                                        </h3>
                                        <p>
                                            @if (it.STP_Save != 9999)
                                            {
                                                @Html.Raw(String.Format("{0} nights from <span>{1:C0}*</span>", it.STP_NumOfNights, it.STP_Save))
                                                ;
                                            }
                                            else
                                            {
                                                @Html.Raw(String.Format("{0} nights from <span>&nbsp;</span>", it.STP_NumOfNights))
                                                ;
                                            }
                                        </p>
                                        </a>
                                        <button class="popular__button" type="button" onclick="otherMoreDetails('@it.PDLID','@it.DeptNA',1),toggleClassMoreDetails(@it.PDLID)">MORE DETAILS <span>›</span></button>
                                    </div>
                                </div>

                                <div class="ft-modal is-hidden" id="@String.Format("fti-{0}-modal", it.PDLID)">
                                 <div class="ft-modal-content">
                                     <div class="ft-modal-mob-close">
                                         <button id="@String.Format("aClose{0}",it.PDLID)" onclick="toggleClassMoreDetails(@it.PDLID)" type="button"><span>&#10006;</span> close</button>
                                     </div>
                                     <div class="ft-modal-header">
                                         <h3>@it.PDL_Title</h3>
                                     </div>
                                     <div class="ft-modal-body">
                                         <p>@Html.Raw(@it.SPD_Description)</p>
                                         <div class="divFlexModal">
                                             <div>
                                                 <p>Includes:</p>
                                                 <ul>
                                                     @{
                                                         string[] inclIdeasList = @it.Included.Split("\r\n");
                                                         foreach (var inc in inclIdeasList)
                                                         {
                                                             <li>@Html.Raw(@inc)</li>
                                                         }
                                                     }
                                                 </ul>
                                             </div>
                                             <div>
                                                 <article>
                                                     @if (it.STP_Save != 9999)
                                                     {
                                                         <p>
                                                             @Html.Raw(String.Format("{0} nights from <span style='color:#f60;'>{1:C0}*</span>", it.STP_NumOfNights, it.STP_Save))
                                                         </p>
                                                     }
                                                     else
                                                     {
                                                         <p>@it.STP_NumOfNights nights from <span>@Html.Raw("&nbsp;")</span></p>
                                                     }
                                                     <a class="aModal" href="@String.Format("{0}{1}/{2}/package-{3}", @siteURL, @it.CountryName.Replace(' ', '_').ToLower(), @it.PDL_Title.Replace(' ', '_').ToLower(), @it.PDLID)">
                                                         <span class="customBtn">Customize it</span>
                                                     </a>
                                                     @if (it.NoOfFeed > 0)
                                                     {
                                                            <a class="aModal" href=@String.Format("{0}{1}/{2}/feedback-{3}", @siteURL, @it.CountryName.Replace(' ', '_').ToLower(), @it.PDL_Title.Replace(' ', '_').ToLower(), @it.PDLID)> @it.NoOfFeed Customer @(it.NoOfFeed > 1 ? "Reviews" : "Review")</a>
                                                     }
                                                 </article>
                                             </div>
                                         </div>
                                         <div class="dvRelPack" id="@String.Format("dvRel{0}", it.PDLID)">
                                             <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" />
                                         </div>
                                         <form name="@String.Format("frm{0}", it.PDLID)" id="@String.Format("frm{0}", it.PDLID)" method="post">
                                             <div class="dvMorChoice" id="@String.Format("dvCom{0}", it.PDLID)">
                                                 <img src="https://pictures.tripmasters.com/siteassets/d/ajax-indicator.gif" />
                                             </div>
                                             <div class="divLast">
                                                 <p onclick=@String.Format("findPacksHome('frm{0}','{1}');",it.PDLID, siteURL)>
                                                     &gt;&gt;
                                                     Find similar package
                                                 </p>
                                             </div>
                                             <hr class="spdotLine" />
                                             <input type="hidden" name="allIDsdp" id="allIDsdp" value="" />
                                             <input type="hidden" name="allID" id="Hidden1" value="" />
                                             <input type="hidden" name="allNA" id="Hidden2" value="" />
                                         </form>
                                 
                                     </div>
                                     <div class="ft-modal-footer">
                                         <button id="@String.Format("aClose{0}",it.PDLID)" class="ft-modal-close" onclick="toggleClassMoreDetails(@it.PDLID)"><span>&#10006;</span> Close </button>
                                     </div>
                                 </div>
                             </div>

                         </li>
                    }
                }
            </ul>
        </li>
        }
    </ul>
</section>
@* *** noteworthy section *** *@
@if(Model.TMNoteWorthy.Count > 0 )
{
    <section class="noteworthy">
        <div class="first-container">
            <h2>Other Noteworthy Vacations</h2>
            <ul class="noteworthy__list">
                @foreach(var nwt in Model.TMNoteWorthy)
                {
                    string siteURL = "/";
                    switch (nwt.STP_UserID)
                    {
                        case 356:
                        case 1200:
                            siteURL = "/luxury/";
                            break;
                        case 243:
                            siteURL = "/europe/";
                            break;
                        case 595:
                            siteURL = "/asia/";
                            break;
                        case 182:
                            siteURL = "/latin/";
                            break;
                    }
                    <li class="noteworthy__item">
                        <a href="@String.Format("{0}{1}/{2}/package-{3}", siteURL, nwt.CountryName.Replace(" ", "_").ToLower(), nwt.PDL_Title.Replace(" ", "_").ToLower(), nwt.PDLID)">
                            <img class="noteworthy__image lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", nwt.IMG_500Path_URL) alt="no image" title="@nwt.PDL_Title" />
                            @if (nwt.STP_UserID == 356 || nwt.STP_UserID == 1200)
                            {
                                <div class="wrapper_div">
                                    <span class="best-packages__item-lux">Curated Luxury</span>
                                <span class="best-packages__item-stars" style="--rating:5"></span>
                                </div>
                            }
                            <div class="noteworthy__wrapper">
                                <h3>@nwt.PDL_Title</h3>
                                @if (nwt.STP_Save != 9999)
                                {
                                    <p>
                                        @Html.Raw(String.Format("{0} nights from <font>{1:C0}*</font>", nwt.STP_NumOfNights, nwt.STP_Save))
                                    </p>
                                }
                                else
                                {
                                    <p>@nwt.STP_NumOfNights nights from <span>@Html.Raw("&nbsp;")</span></p>
                                }
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
}

@*top-sellers section*@
<section class="top-sellers">
    <div class="first-container">
        <h2>Top - Sellers Vacation Packages' Reviews</h2>
        <ul class="top-sellers__list">
            @foreach (var top in Model.managerPop)
            {
                string siteURL = "/";
                switch (top.deptNA)
                {
                    case "ED":
                        siteURL = "/europe/";
                        break;
        
                    case "TMAS":
                        siteURL = "/asia/";
                        break;
        
                    case "LD":
                        siteURL = "/latin/";
                        break;
                }
                <li class="top-sellers__item">
                    <div class="top-sellers__image">
                        <a href=@String.Format("{0}{1}/{2}/package-{3}", siteURL, top.CountryNA.Replace(" ", "_").ToLower(), top.PDL_Title.Replace(" ", "_").ToLower(), top.PDLID)>
                            <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", top.IMG_500Path_URL.ToLower()) alt="@top.PDL_Title" title="@top.PDL_Title" />
                            <div class="top-sellers__wrapper">
                                <h3>@top.PDL_Title</h3>
                                <p>@Html.Raw(String.Format("{0} nights from <font>{1:C0}*</font>", @top.Duration, top.STP_Save))</p>
                            </div>
                        </a>
                    </div>
                    <div class="top-sellers__info">
                        <p class="top-sellers__description">@Html.Raw(@Utilities.FormatCustomerComment(top.Comment, 120))</p>
                        <a class="top-sellers__more" href=@String.Format("{0}{1}/{2}/feedback-{3}", siteURL, top.CountryNA.Replace(" ", "_").ToLower(), top.PDL_Title.Replace(" ", "_").ToLower(), top.PDLID)>Read more - See this traveler's itinerary</a>
                        <span>Traveled on: @top.dep_date.ToString("MM/dd/yyyy")</span>
                        <a class="top-sellers__view" href=@String.Format("{0}{1}/{2}/package-{3}", siteURL, top.CountryNA.Replace(" ", "_").ToLower(), top.PDL_Title.Replace(" ", "_").ToLower(), top.PDLID)>VIEW IT <span>›</span></a>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
@*spotlight section*@
<section class="spotlight">
    <div class="first-container">
        <h2>In the Spotlight</h2>
        <ul class="spotlight__list">
            @{
                Int32 count = 1;
            }
            @foreach (var dt in Model.TMDest)
            {
                string siteDest = "";
                string siteURL = "";
                string siteDestSEO = "";
        
                switch (dt)
                {
                    case "ED":
                        siteURL = "/europe/";
                        siteDest = "Europe, Middle East & Africa";
                        siteDestSEO = "Europe, Middle East & Africa";
                        break;
        
                    case "TMAS":
                        siteURL = "/asia/";
                        siteDest = "Asia & South Pacific";
                        siteDestSEO = "Asia & South Pacific";
                        break;
        
                    case "LD":
                        siteURL = "/latin/";
                        siteDest = "Latin America and Caribbean";
                        siteDestSEO = "Latin America and Caribbean";
                        break;
                }
                <li class="spotlight__item">
                    <h3><a href="@siteURL" lang="en" title="@String.Format("{0} Vacation Packages",siteDestSEO)">All @siteDest trips</a></h3>
                    <div class="@String.Format("mySwiper{0}", count) swiper">
                        <ul class="swiper-wrapper">
                            @foreach (var spl in Model.TMSpot)
                            {
                                if (spl.deptNA == dt)
                                {
                                  <li class="swiper-slide">
                                      <a href="@String.Format("{0}{1}/{2}/package-{3}", siteURL, spl.CountryNA.Replace(" ", "_").ToLower(), spl.PDL_Title.Replace(" ", "_").ToLower(), spl.PDLID)">
                                          <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", spl.IMG_500Path_URL) alt="@spl.PDL_Title" title="@spl.PDL_Title" />
                                          <div>
                                               <h4>@spl.PDL_Title</h4>
                                               @if (spl.STP_Save != 9999)
                                               {
                                                   <p>
                                                       @Html.Raw(String.Format("{0} nights from <font>{1:C0}*</font>", spl.STP_NumOfNights, spl.STP_Save))
                                                   </p>
                                               }
                                               else
                                               {
                                                   <p>@spl.STP_NumOfNights nights from <span>@Html.Raw("&nbsp;")</span></p>
                                               }
                                          </div>
                                      </a>
                                  </li>  
                                }
                            }
                        </ul>
                    </div>
                    <div class="swiper-button-next @String.Format("swiper-button-next{0}", count)"></div>
                    <div class="swiper-button-prev @String.Format("swiper-button-prev{0}", count)"></div>
                </li>
                count += 1;
            }
        </ul>
    </div>
</section>
@*destinations section*@
<section class="destinations">
    <div class="first-container">
        <h2>Vacation Destinations</h2>
        <ul class="destinations__list">
            @foreach (var dest in Model.TMDest)
            {
                string siteDest = "";
                string siteURL = "";
                string siteDestSeo = "";
                switch (dest)
                {
                    case "ED":
                        siteURL = "/europe/";
                        siteDest = "Europe, Middle East & Africa";
                        siteDestSeo = "Europe, Middle East & Africa";
                        break;

                    case "TMAS":
                        siteURL = "/asia/";
                        siteDest = "Asia & South Pacific";
                        siteDestSeo = "Asia & South Pacific";
                        break;

                    case "LD":
                        siteURL = "/latin/";
                        siteDest = "Latin America and Caribbean";
                        siteDestSeo = "Latin America and Caribbean";
                        break;
                }

                <li class="destinations__item">
                    <h3><a href="@siteURL" title="Travel to @siteDestSeo Destinations">@siteDest</a></h3>
                    <div class="destinations__wrapper">
                        <ul class="destinations__list-items">
                        @foreach (var cty in Model.TMCty)
                        {
                            if (cty.DepartNA == dest)
                            {
                                <li>
                                    <a href=@String.Format("{0}{1}/vacations", siteURL, cty.CountryNA.Replace(" ", "_").ToLower()) title="@cty.CountryNA Vacation Packages">@cty.CountryNA</a>
                                </li>
                            }
                        }
                        </ul>
                        <a class="destinations__link" href="/destinations" title="Travel to @siteDestSeo Destinations">see all @siteDest Destinations</a>
                    </div>
                </li>
             }
        </ul>
    </div>
</section>  
     @section Scripts
    {
        <environment include="Development">
            <script src="~/lib/lazysizes.min.js" asp-append-version="true"></script>
            <script src="~/js/home/dm.java.HomePage.js" asp-append-version="true"></script>
            <script src="~/js/responsive_calendar/dm.java.TM.Calendar.js" asp-append-version="true"></script>
            <script src="~/js/responsive_calendar/dt.java.TM.CommonFunctions.js" asp-append-version="true"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/lib/lazysizes.min.js" asp-append-version="true"></script>
            <script src="~/js/home/dm.java.HomePage.min.js" asp-append-version="true"></script>
            <script src="~/js/responsive_calendar/dm.smallcalendar.min.js" asp-append-version="true"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        </environment>

    }
