@using static MVC_TM.Models.ViewModels.GeneralPurposeViewModel;
@using MVC_TM.Infrastructure;

@{
    List<GP_PackOnInterestPriority> withReviews = new List<GP_PackOnInterestPriority>();
    withReviews = Model.featTop;
   
}
<section class="packages">
    <div class="first-container">
        <h2 class="packages__title">@ViewBag.PackSecTitle</h2>
        <p class="packages__text">@ViewBag.PackSecDesc</p>
        <ul class="packages__list">
            @{
                int topC = 0;
            }
            @foreach (var top in withReviews)
            {
                string siteURL = "/";

                if (topC < 3)
                {
                    switch (top.deptID)
                    {
                        case 243:
                            siteURL = "/europe/";
                            break;

                        case 595:
                            siteURL = "/asia/";
                            break;

                        case 182:
                            siteURL = "/latin/";
                            break;

                        case 356:
                            siteURL = "/luxury/";
                            break;
                    }
                    <li class="packages__item">
                        <div class="packages__image">
                            <a href=@String.Format("{0}{1}/{2}/package-{3}", siteURL, top.CountryName.Replace(" ", "_").ToLower(), top.PDL_Title.Replace(" ", "_").ToLower(), top.PDLID)>
                                <img class="lazyload" src="https://pictures.tripmasters.com/siteassets/d/spacer.gif" data-src=@String.Format("https://pictures.tripmasters.com{0}", top.IMG_Path_URL.ToLower()) alt="@top.PDL_Title" title="@top.PDL_Title" />
                                <div class="packages__wrapper">
                                    <h3>@top.PDL_Title</h3>
                                    @if (top.STP_Save != 9999)
                                    {
                                        <p>@Html.Raw(String.Format("{0} nights from <font>{1:C0}*</font>", @top.PDL_Duration, top.STP_Save))</p>
                                    }
                                    else
                                    {
                                        <p>&nbsp;</p>
                                    }
                                </div>
                            </a>
                        </div>
                        <div class="packages__info">
                            <p class="@String.Format("packages__description packages__description-{0}", @top.PDLID)">
                                
                                    @if (!string.IsNullOrEmpty(top.PDL_Description) && !Utilities.RegexHelper.MyRegex.IsMatch(top.PDL_Description))
                                    {
                                        @Html.Raw(@MVC_TM.Infrastructure.Utilities.TruncateText(top.PDL_Description, 160))
                                    }
                                    else
                                    {                                      
                                        @Html.Raw(@MVC_TM.Infrastructure.Utilities.TruncateHtml(top.SPD_Description, 160))
                                    }
                            </p>                            
                        </div>
                    </li> 
                    topC = topC + 1;
                }
            }
        </ul>
    </div>
</section>